*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto', sans-serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    box-shadow: 0 2px 8px  gray;
    z-index: 1;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 1fr 3fr;
    grid-template-areas: 
        "icon search . notifications profile-pic profile-name";
    gap: 1em;
    align-items: center;
}

.search.icon {
    grid-area: icon;
    justify-self: end;
}

input[type="search"] {
    grid-area: search;
    border-radius: 15px;
    padding: 8px 15px;
    background-color: #e2e8f0;
    min-height: 2em;
    max-width: 100%;
    border: none;
}

.notifications {
    grid-area: notifications;
}

.profile-pic {
    grid-area: profile-pic;
    max-width: 40px;
    border-radius: 50%;
}

.profile-name {
    grid-area: profile-name;
    justify-self: start;
    font-weight: 700;
}

.welcome-msg {
    justify-self: start;
}

.welcome-bar{
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
        "profile-pic welcome-msg . link1 link2 link3"
        "profile-pic profile-name . link1 link2 link3";
    place-items: center;
    gap: 12px;
}

.welcome-bar .profile-pic{
    max-width: 60px;
    justify-self: end;
}

.welcome-bar .profile-name{
    font-size: 1.25rem;
    align-self: start;
}

.welcome-bar a:nth-of-type(1) {
    grid-area: link1;
}

.welcome-bar a:nth-of-type(2) {
    grid-area: link2;
}

.welcome-bar a:nth-of-type(3) {
    grid-area: link3;
}

.btn {
    text-decoration: none;
    background-color: #0284c7;
    color: #fff;
    padding: 0.5em 2em;
    border-radius: 24px;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template: repeat(auto-fit, minmax(50px, min-content)) / 1fr;
    gap: 25px;
    padding: 1em;
    color: white;
    background-color: #0284c7;
}

.sidebar .logo, .sidebar .icon{
    filter: invert();
}

.logo-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, min-content));
    gap: 15px;
    align-items: center;
}

.logo {
    max-width: 40px;
    justify-self: center;
}

.side-links li {
    padding: 8px 0;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, min-content));
    gap: 15px;
}

.icon {
    max-width: 1.25rem;
    justify-self: center;
}

.main {
    padding: 2em 1em;
    grid-area: main;
    display: grid;
    gap: 1.5rem;
    grid-template: 1fr 1fr / 5fr 2fr;
    grid-template-areas: 
        "projects announcements"
        "projects trends";
    background-color: #e2e8f0;
}

.section-title{
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.projects {
    grid-area: projects;
}

.card {
    display: grid;
    grid-template: 1fr auto 1fr 1fr / repeat(7, 1fr);
    grid-template-areas:
        "title title title title title title title"
        "content content content content content content content"
        ". . . . . . ."
        " . . . . star read share";
    position: relative;
}

.card::after{
    position: absolute;
    content: "";
    background-color: #eeb33b;
    height: 100%;
    width: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-title{
    grid-area: title;
    font-size: 1rem;
    font-weight: 500;
}

.project-summary {
    grid-area: content;
}

.project-summary, .gray-text{
    color: #656565;
}

.card .icon{
    width: 1.25rem;
    align-self: end;
}

.fav{
    grid-area: star;
}

.read-later {
    grid-area: read;
}

.share {
    grid-area: share;
}

.announcements {
    grid-area: announcements;
}

.announcements-card {
    display: grid;
    gap: 20px;
}

.announcements .item + .item {
    border-top: 1px solid #656565;
    padding-top: 1em;
}

.announcements .item{
    font-size: 0.75rem;
}

.subtitle {
    font-size: 0.875rem;
    font-weight: 500;
}

.trending {
    grid-area: trends;
}

.trending .item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "profile-pic username"
        "profile-pic project";
}

.trending-card{
    display: grid;
    gap: 32px;
}

.card, .announcements-card, .trending-card {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 1px 1px 5px gray;
    font-size: 0.875rem;
}